[submodule "dependencies/xmake"]
	path = dependencies/xmake
	url = git://github.com/Kanma/XMake.git
[submodule "dependencies/zlib"]
        path = dependencies/zlib
        url = git://github.com/Kanma/Athena-Dependencies-zlib.git

